@import url("./color.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Commissioner", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

.contain-header {
  height: 400px;
  background-image: url("../images/image-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding-inline: 150px;
  padding-block: 50px;
}

.lista {
  list-style: none;
  display: flex;
  gap: 30px;
  color: #ffff;
  cursor: pointer;
  font-weight: 500;
}

.content {
  width: 750px;
  position: absolute;
  top: 110%;
  left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
}

.presentation {
  padding: 20px 50px;
  border-radius: 8px;
  background-color: #ffff;
  -webkit-box-shadow: 3px 4px 23px 10px rgba(209, 209, 209, 0.46);
  -moz-box-shadow: 3px 4px 23px 10px rgba(209, 209, 209, 0.46);
  box-shadow: 3px 4px 23px 10px rgba(209, 209, 209, 0.46);
  margin-bottom: 20px;
}

.presentation-text {
  text-align: center;
  position: relative;
  padding-top: 20px;
}

.presentation-description {
  padding-block: 10px;

  color: var(--dark-gray);
}

.logo {
  position: absolute;
  bottom: 50%;
  left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
}

.presentation-tags {
  margin-block: 20px;
  display: flex;
  justify-content: space-between;
}

.btn,
.btn-tag {
  padding: 20px 40px;
  border: none;
  border-radius: 30px;
  background: var(--moderate-cyan);
  color: white;
  font-weight: bold;
}

.btn:hover,
.btn-tag:hover {
  background-color: var(--dark-cyan);
  cursor: pointer;
}

.tag-imgs {
  display: flex;
  align-items: center;
  position: relative;
}

.icon {
  position: absolute;
  right: 135px;
}

.text {
  color: var(--dark-gray);
}

.tag-imgs-text {
  padding-block: 20px;
  padding-left: 60px;
  padding-right: 30px;
  border-radius: 60px;
  background-color: var(--dark-gray-btn);
  align-items: center;
  color: var(--dark-gray);
  font-weight: bold;
}

.tag-imgs-text.active {
  color: var(--moderate-cyan);
  background-color: var(--bg-darkLigth);
}

.active g circle {
  fill: var(--dark-cyan);
}

.active g path {
  fill: var(--white);
}

.about,
.support-information {
  padding-inline: 50px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: var(--white);
  -webkit-box-shadow: 3px 4px 23px 10px rgba(209, 209, 209, 0.46);
  -moz-box-shadow: 3px 4px 23px 10px rgba(209, 209, 209, 0.46);
  box-shadow: 3px 4px 23px 10px rgba(209, 209, 209, 0.46);
}

.cards-information {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.backed-information {
  border-inline: 1px solid var(--dark-gray-btn);
  padding-inline: 60px;
}

.cards-information p {
  font-size: 14px;
  margin-top: 10px;
  color: var(--dark-gray);
}

input[type="range"] {
  margin-block: 30px;
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 4px;
  background-color: var(--dark-gray-btn);
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: var(--moderate-cyan);
  cursor: pointer;
  box-shadow: 1px 1px 1px var(--moderate-cyan), 0px 0px 1px var(--moderate-cyan);
}

.about {
  margin-top: 20px;
  padding-block: 20px;
}

.text-about {
  line-height: 1.7rem;
}

.text-container-about {
  margin-block: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.plan-card {
  border: 1px solid var(--dark-gray-btn);
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-title p {
  color: var(--dark-cyan);
  font-weight: bold;
}

.card-tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.card-tags p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.card-tags p span {
  font-weight: bold;
  font-size: 32px;
}

.disabled {
  opacity: 0.5;
}
.disabled button {
  background-color: var(--dark-gray);
}

.disabled button:hover {
  background-color: var(--dark-gray);
}
.disabled .card-title p {
  color: var(--Dark-gray);
}

.wrapper-modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  top: 0;
  position: fixed;
  z-index: 99;
  background: hsla(0, 0%, 1%, 0.5);
}

.modal {
  width: 37.5rem;
  background-color: var(--white);
  margin: auto;
  border-radius: 0.375rem;
  padding: 1.25rem 1.875rem;
  position: relative;
}
.modal-img {
  position: absolute;
  top: 1.25rem;
  right: 1.875rem;
}

.card-without-reward h4,
.card-modal h4 {
  font-size: 1rem;
  transition: color 0.3;
}

.card-modal:hover h4 {
  color: var(--moderate-cyan);
}

.card-modal.disabled:hover h4 {
  color: initial;
}

.modal-header p {
  color: var(--dark-gray);
  font-size: 0.875rem;
  margin-top: 1.25rem;
}

.wrapper-cards-modal {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 1.25rem;
}

.card-modal {
  display: flex;
  gap: 10px;
  align-items: baseline;
  padding: 1.25rem;
  border: 1px solid var(--dark-gray-btn);
  border-radius: 2px;
}

.info-description-modal {
  padding-top: 10px;
}

.card-support {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pledge {
  color: var(--moderate-cyan);
  font-weight: bold;
}

.card-days-remaining {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.card-days-remaining span {
  font-size: 22px;
  font-weight: bold;
}

.card-days-remaining p {
  font-size: 12px;
}

.radio {
  border: 1px solid var(--moderate-cyan);
  border-radius: 50%;
  width: 55px;
  height: 20px;
  position: relative;
}

.radio + .radio {
  margin-left: 25px;
}

.radio label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  white-space: nowrap;
}
.radio label span {
  z-index: 1;
}
.radio label input[type="radio"] {
  all: unset;
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  top: 25%;
  left: 25%;
}
.radio label input[type="radio"]:checked {
  background-color: var(--moderate-cyan);
}
.radio label input[type="radio"]:checked + span {
  color: #ffffff;
}
